:root {
	--main-color: #26a699;
	--light-bg1: #f3f3f3;
	--light-bg1: #eee;
}

.styled-table {
	border-collapse: collapse;
	margin: 25px 0;
	font-size: 0.8em;
	font-family: sans-serif;
	/* min-width: 360px; */
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
	text-align: center;
}

.styled-table thead tr {
	background-color: var(--main-color);
	color: #ffffff;
}

.styled-table thead tr th {
	font-weight: bolder;
}

.styled-table th,
.styled-table td {
	padding: 8px 15px;
}

.styled-table tbody tr {
	border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
	background-color: var(--light-bg1);
	color: #000000de;
}

.styled-table tbody tr:last-of-type {
	border-bottom: 2px solid var(--main-color);
}

.styled-table tbody tr.active-row {
	font-weight: bold;
	color: var(--main-color);
}
